body{
    background-color: wheat;
    
}

h1{
    color: darkgray;
    text-align: center;
}

p{
    color: aliceblue;
    text-align: center;
}

header{
    background-color: blanchedalmond;
    height: 150px;
}

footer{
    background-color: blanchedalmond;
    height: 150px;
}